.container .dashboard-admin {
    width: 1060px;
    height: 410px;
    background-color: #F7F6F3;
    margin-top: 20px;
    border-radius: 20px;
    padding: 20px;
}

.container .dashboard-admin .input {
    width: 186px;
    height: 31px;
    border: 2px solid #99B7B8;
    border-radius: 6px;
    background-color: #D9E4E7;
    margin: 0 10px;
    padding: 0 0 0 10px;
}

.container .dashboard-admin .counts {
    margin: 0 5px;
}

.container .dashboard-admin .counts .count {
    width: 260px;
    height: 100px;
    border-radius: 5px;
    background-color: #1C7664;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    float: left;
    margin: 25px;
    padding: 10px 20px;
}

.container .dashboard-admin .counts .count .judul {
    width: 260px;
    height: 35px;
    background-color: #F7F6F3;
    color: #537D7F;
    border-radius: 2px;
    text-align: center;
    line-height: 35px;
}

.container .dashboard-admin .counts .count .isi {
    width: 260px;
    height: 65px;
    color: #F7F6F3;
    text-align: center;
    line-height: 65px;
    font-size: 22px;
}

.container .dashboard-admin .tombol-utama {
    width: 360px;
    height: 50px;
    margin: 0 auto;
    padding-top: 50px;
    clear: left;
}

.container .dashboard-admin .tombol-utama .tombol {
    width: 50px;
    height: 50px;
    background-color: #1C7664;
    color: #F7F6F3;
    font-size: 25px;
    text-align: center;
    line-height: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: 0 5px;
    position: relative;
    float: left;
    cursor: pointer;
}

.container .dashboard-admin .tombol-utama .tombol .tooltiptext {
    visibility: hidden;
    width: 120px;
    height: 0;
    background-color: black;
    color: #fff;
    font-size: 13px;
    text-align: center;
    line-height: 0;
    border-radius: 6px;
    padding: 15px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
}

.container .dashboard-admin .tombol-utama .tombol .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.container .dashboard-admin .tombol-utama .tombol:hover {
    background-color: #537D7F;
}
.container .dashboard-admin .tombol-utama .tombol:hover .tooltiptext {
    visibility: visible;
}