.container > .kursi {
    width: 600px;
    padding: 20px;
    margin: 0 auto;
    background-color: #F7F6F3;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-top: 20px;
}

.container > .kursi > .judul {
    height: 30px;
    font-size: 23px;
    text-align: center;
}

.container > .kursi > .denah {
    width: 560px;
    margin: 0 auto;
    overflow: auto;
}

.container > .kursi > .denah > .kiri {
    width: 250px;
    padding: 15px;
    float: left;
}

.container > .kursi > .denah > .kanan {
    width: 250px;
    padding: 15px;
    float: left;
}

.container > .kursi > .denah > .kiri > .button {
    width: 40px;
    height: 40px;
    margin: 5px;
    background-color: #D9E4E7;
    border: 2px solid #99B7B8;
    float: left;
}

.container > .kursi > .denah > .kanan > .button {
    width: 40px;
    height: 40px;
    margin: 5px;
    background-color: #D9E4E7;
    border: 2px solid #99B7B8;
    float: left;
}

.container > .kursi > .denah > .layar {
    width: 296px;
    height: 36px;
    text-align: center;
    line-height: 36px;
    background-color: #D9E4E7;
    border: 2px solid #99B7B8;
    clear: left;
    margin: 0 auto;
}

.container > .kursi > .denah > .keterangan {
    width: 560px;
    margin-top: 15px;
}

.container > .kursi > .denah > .keterangan > .legend {
    width: 400px;
    height: 16px;
    padding: 17px 0;
    float: left;
}

.container > .kursi > .denah > .keterangan > .legend > .kotak-abu {
    width: 12px;
    height: 12px;
    border: 2px solid grey;
    background-color: lightgray;
    float: left;
    /* display: inline-block; */
}

.container > .kursi > .denah > .keterangan > .legend > .kotak-merah {
    width: 12px;
    height: 12px;
    border: 2px solid salmon;
    background-color: lightsalmon;
    float: left;
    /* display: inline-block; */
}

.container > .kursi > .denah > .keterangan > .legend > .kotak-hijau {
    width: 12px;
    height: 12px;
    background-color: #D9E4E7;
    border: 2px solid #99B7B8;
    float: left;
    /* display: inline-block; */
}

.container > .kursi > .denah > .keterangan > .legend > .kotak-biru {
    width: 12px;
    height: 12px;
    background-color: lightcyan;
    border: 2px solid skyblue;
    float: left;
    /* display: inline-block; */
}

.container > .kursi > .denah > .keterangan > .legend > span {
    font-size: 15px;
    line-height: 16px;
    margin-right: 10px;
    margin-left: 5px;
    float: left;
    display: block;
}

.container > .kursi > .denah > .keterangan > .hitung {
    width: 130px;
    display: block;
    text-align: right;
    margin-bottom: 5px;
    float: right;
}

.container > .kursi > .denah > .tombol > .button-batal {
    width: 61px;
    height: 28px;
    border: 2px solid #99B7B8;
    background-color: #D9E4E7;
    border-radius: 5px;
    margin-left: 5px;
    float: right;
}

.container > .kursi > .denah > .tombol > .button-simpan {
    width: 61px;
    height: 28px;
    border: 2px solid #99B7B8;
    background-color: #D9E4E7;
    border-radius: 5px;
    margin-left: 5px;
    float: right;
}

.container > .kursi > .denah > .atas {
    width: 558px;
    height: 50px;
    margin: 15px 1px 0;
}

.container > .kursi > .denah > .atas > .col {
    width: 104px;
    padding: 0 41px;
    float: left;
}

.container > .kursi > .denah > .atas > .col > .button {
    width: 40px;
    height: 40px;
    margin: 5px;
    background-color: #D9E4E7;
    border: 2px solid #99B7B8;
}

.container > .kursi > .denah > .bawah {
    width: 558px;
    height: 50px;
    margin: 0 1px 45px;
}

.container > .kursi > .denah > .bawah > .col:first-child {
    width: 144px;
    padding-left: 135px;
    float: left;
}

.container > .kursi > .denah > .bawah > .col:last-child {
    width: 144px;
    padding-right: 135px;
    float: left;
}

.container > .kursi > .denah > .bawah > .col > .button {
    width: 40px;
    height: 40px;
    margin: 5px;
    background-color: #D9E4E7;
    border: 2px solid #99B7B8;
}

.container > .kursi > .denah > .bawah > .col:last-child > .button {
    width: 40px;
    height: 40px;
    margin: 5px;
    background-color: #D9E4E7;
    border: 2px solid #99B7B8;
    float: right
}